@font-face {
    font-family: 'Lato';
    font-display: auto;
    src: url('/fonts/Lato/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    font-display: auto;
    src: url('/fonts/Lato/Lato-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    font-display: auto;
    src: url('/fonts/Lato/Lato-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing_Script';
    font-display: auto;
    src: url('/fonts/Dancing_Script/DancingScript-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing_Script';
    font-display: auto;
    src: url('/fonts/Dancing_Script/DancingScript-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing_Script';
    font-display: auto;
    src: url('/fonts/Dancing_Script/DancingScript-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}